<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CMPE283-Project1-PartB</display-name>
  <welcome-file-list>
    <welcome-file>Login_SignUp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginform</display-name>
    <servlet-name>loginform</servlet-name>
    <servlet-class>com.santhi.servlets.loginform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginform</servlet-name>
    <url-pattern>/loginform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupform</display-name>
    <servlet-name>signupform</servlet-name>
    <servlet-class>com.santhi.servlets.signupform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupform</servlet-name>
    <url-pattern>/signupform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vCenterHosts</display-name>
    <servlet-name>vCenterHosts</servlet-name>
    <servlet-class>com.santhi.servlets.vCenterHosts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vCenterHosts</servlet-name>
    <url-pattern>/vCenterHosts</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>createvm</display-name>
    <servlet-name>createvm</servlet-name>
    <servlet-class>com.santhi.servlets.createvm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createvm</servlet-name>
    <url-pattern>/createvm</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>deployWinVM</display-name>
    <servlet-name>deployWinVM</servlet-name>
    <servlet-class>com.santhi.servlets.deployWinVM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deployWinVM</servlet-name>
    <url-pattern>/deployWinVM</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>VMCloneWin</display-name>
    <servlet-name>VMCloneWin</servlet-name>
    <servlet-class>temp.VMCloneWin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMCloneWin</servlet-name>
    <url-pattern>/VMCloneWin</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>getssh</display-name>
    <servlet-name>getssh</servlet-name>
    <servlet-class>com.santhi.servlets.getssh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getssh</servlet-name>
    <url-pattern>/getssh</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>deletevm</display-name>
    <servlet-name>deletevm</servlet-name>
    <servlet-class>com.santhi.servlets.deletevm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletevm</servlet-name>
    <url-pattern>/deletevm</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>CreateWindowsVM</display-name>
    <servlet-name>CreateWindowsVM</servlet-name>
    <servlet-class>com.santhi.servlets.CreateWindowsVM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateWindowsVM</servlet-name>
    <url-pattern>/CreateWindowsVM</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>deployubuntuvm</display-name>
    <servlet-name>deployubuntuvm</servlet-name>
    <servlet-class>com.santhi.servlets.deployubuntuvm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deployubuntuvm</servlet-name>
    <url-pattern>/deployubuntuvm</url-pattern>
  </servlet-mapping>
</web-app>